---
import DefaultLayout from "@/layout/default.astro";
---

<DefaultLayout title="Astro Template">
  <main class="h-screen col center gap-4">
    <section class="center gap-4">
      <h1 class="text-(5xl red center)">Hello, World!</h1>
      <div class="i-mdi:github w-10 h-10"></div>
    </section>

    <button
      hx-get="/random-number"
      class="bg-blue-200 text-blue-600 border-(1 blue-500) rounded-xl p-4 hover:(bg-blue-300 shadow-lg)"
    >
      Click here to get a random number
    </button>
  </main>
</DefaultLayout>
