---
import RandomNumber from "@/components/RandomNumber.astro";
import DefaultLayout from "@/layout/default.astro";
---

<DefaultLayout title="Astro Template">
  <main class="h-screen col center gap-4">
    <section class="center gap-4">
      <h1 class="text-(5xl red center)">Hello, World!</h1>
      <div class="i-mdi:github w-10 h-10"></div>
    </section>

    <RandomNumber />
  </main>
</DefaultLayout>
