---
interface Props {
  randomNumber?: number;
}

const { randomNumber } = Astro.props;

const buttonText =
  typeof randomNumber === "number"
    ? `Random number: ${randomNumber}`
    : "Random number";
---

<button
  hx-get="/random-number"
  hx-swap="outerHTML"
  class="bg-blue-200 text-blue-600 border-(1 blue-500) rounded-xl p-4 hover:(bg-blue-300 shadow-lg)"
>
  {buttonText}
</button>
